@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.advantages {
  padding: 0 20px;
}

.advantages__title {
  @include site-title(36px, 40px);
  margin-bottom: 40px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages__item {
  @include site-content;
  position: relative;
  margin-left: 80px;

  &::before {
    position: absolute;
    width: 60px;
    height: 60px;
    left: -80px;
    background-color: $main-color;
    content: "";
  }

  &--benefit {
    &::after {
      position: absolute;
      width: 25px;
      height: 28px;
      top: 16px;
      left: -62px;
      background: url("../../img/icons/benefit-icon.svg") no-repeat;
      content: "";
    }
  }

  &--release-form {
    &::after {
      position: absolute;
      width: 26px;
      height: 29px;
      top: 16px;
      left: -62px;
      background: url("../../img/icons/release-form-icon.svg") no-repeat;
      content: "";
    }
  }

  &--replace-food {
    &::after {
      position: absolute;
      width: 25px;
      height: 30px;
      top: 16px;
      left: -62px;
      background: url("../../img/icons/replace-food-icon.svg") no-repeat;
      content: "";
    }
  }

  &--fast-result {
    &::after {
      position: absolute;
      width: 26px;
      height: 31px;
      top: 16px;
      left: -62px;
      background: url("../../img/icons/fast-result-icon.svg") no-repeat;
      content: "";
    }
  }
}
