@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.advantages {
  width: 100vw;
}

.advantages__container {
  @include site-container;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 69px;
  }
}

.advantages__title {
  @include site-title(36px, 40px);
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    @include site-title(60px, 60px);
    margin-bottom: 32px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 37px;
    column-gap: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.advantages__item {
  @include site-content(14px, 18px);
  position: relative;
  margin-left: 80px;

  @media (min-width: $tablet-width) {
    @include site-content(16px, 24px);
    padding: 151px 0 57px;
  }

  &:nth-child(even) {
    @media (min-width: $tablet-width) {
      margin-left: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 0;
    }
  }


  &::before {
    position: absolute;
    width: 60px;
    height: 60px;
    left: -80px;
    background-color: $main-color;
    content: "";

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      top: 40px;
      left: 0;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 16px;
    left: -62px;

    @media (min-width: $tablet-width) {
      top: 65px;
      left: 27px;
    }
  }

  &--benefit {
    @media (min-width: $tablet-width) {
      margin-right: 124px;
      background: url("../img/icons/1.svg") no-repeat center right;
    }

    @media (min-width: $desktop-width) {
      width: 230px;
      margin-right: 93px;
    }

    &::after {
      width: 25px;
      height: 28px;
      background: url("../img/sprite.svg#benefit-icon") no-repeat;
    }
  }

  &--release-form {
    @media (min-width: $tablet-width) {
      margin-right: 100px;
      background: url("../img/icons/2.svg") no-repeat center right;
    }

    @media (min-width: $desktop-width) {
      width: 246px;
      margin-right: 78px;
    }

    &::after {
      width: 26px;
      height: 29px;
      background: url("../img/sprite.svg#release-form-icon") no-repeat;
    }
  }

  &--replace-food {
    @media (min-width: $tablet-width) {
      margin-right: 107px;
      background: url("../img/icons/3.svg") no-repeat center right;
    }

    @media (min-width: $desktop-width) {
      width: 248px;
      margin-right: 75px;
    }

    &::after {
      width: 25px;
      height: 30px;
      background: url("../img/sprite.svg#replace-food-icon") no-repeat;
    }
  }

  &--fast-result {
    @media (min-width: $tablet-width) {
      margin-right: 74px;
      background: url("../img/icons/4.svg") no-repeat center right;
    }

    @media (min-width: $desktop-width) {
      width: 250px;
      margin-right: 0;
    }

    &::after {
      width: 26px;
      height: 31px;
      background: url("../img/sprite.svg#fast-result-icon") no-repeat;
    }
  }
}
