@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.catalog {
  @include site-container;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 19px;
  padding: 0 20px;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 63px;
    column-gap: 80px;
  }
}

.catalog__title {
  @include site-title(36px, 36px);
  margin-top: 27px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include site-title(60px, 60px);
    grid-column: 1/3;
    margin-top: 65px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/5;
    margin-top: 78px;
    margin-bottom: 22px;
  }
}
