@use "../mixins.scss" as *;

.catalog {
  @include site-container;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 19px;
  padding: 0 20px;
  margin-bottom: 50px;
}

.catalog__title {
  @include site-title(36px, 36px);
  margin-top: 27px;
  margin-bottom: 41px;
}
