@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.diet-card {
  position: relative;
  padding: 30px 33px 18px 20px;
  background-color: $bgcolor-secondary;

  @media (min-width: $tablet-width) {
    padding: 77px 62px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 55px;
  }

  &::before {
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;
    background-color: $main-color;
    border-radius: 50%;
    content: "";

    @media (min-width: $tablet-width) {
      top: 91px;
      right: 62px;
      left: auto;
      width: 200px;
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }
  }

  &--slim {
    &::after {
      position: absolute;
      width: 36px;
      height: 50px;
      top: 21px;
      left: 29px;
      background: url("../img/sprite.svg#slim-icon-mobile") no-repeat;
      content: "";

      @media (min-width: $tablet-width) {
        width: 140px;
        height: 194px;
        top: 81px;
        left: auto;
        right: 92px;
        background: url("../img/sprite.svg#slim-icon-tablet") no-repeat;
      }

      @media (min-width: $desktop-width) {
        width: 70px;
        height: 97px;
        top: 41px;
        left: 67px;
        background: url("../img/sprite.svg#slim-icon-desktop") no-repeat;
      }
    }
  }

  &--pro {
    &::after {
      position: absolute;
      width: 67px;
      height: 28px;
      top: 35px;
      left: 13px;
      background: url("../img/sprite.svg#pro-icon-mobile") no-repeat;
      content: "";

      @media (min-width: $tablet-width) {
        width: 269px;
        height: 113px;
        top: 135px;
        right: 62px;
        left: auto;
        background: url("../img/sprite.svg#pro-icon-tablet") no-repeat;
      }

      @media (min-width: $desktop-width) {
        width: 134px;
        height: 57px;
        top: 67px;
        left: 33px;
        background: url("../img/sprite.svg#pro-icon-desktop") no-repeat;
      }
    }
  }
}

.diet-card__title {
  @include site-title(24px, 37px);
  margin-left: 91px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    @include site-title(36px, 36px);
    margin: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 73px 162px;
  }
}

.diet-card__intro {
  @include site-content(14px, 18px);
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    @include site-content (16px, 24px);
    margin-right: 316px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    @include site-content (16px, 24px);
    margin: 0;
    margin-bottom: 23px;
  }
}

.diet-card__link {
  @include site-title(16px, 16px);
  position: relative;
  display: block;
  width: 139px;
  text-transform: uppercase;
  color: #000000;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    @include site-title(20px, 30px);
    width: 165px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 12px;
    top: 2px;
    right: 15px;
    background: url("../img/sprite.svg#arrow-mobile");

    @media (min-width: $tablet-width) {
      top: 10px;
      right: 25px;
    }
  }
}

// @media (min-width: $tablet-width) {
//   .diet-card {
//     padding: 77px 62px 57px 52px;

//     &::before {
//       position: absolute;
//       top: 91px;
//       left: 446px;
//       width: 200px;
//       height: 200px;
//       background-color: $main-color;
//       border-radius: 50%;
//       content: "";
//     }

//     &--slim {
//       &::after {
//         position: absolute;
//         width: 36px;
//         height: 50px;
//         top: 81px;
//         left: 476px;
//         background: url("../img/icons/slim-icon.svg") no-repeat;
//         content: "";
//       }
//     }

//     &--pro {
//       &::after {
//         position: absolute;
//         width: 67px;
//         height: 28px;
//         top: 135px;
//         left: 412px;
//         background: url("../img/icons/pro-icon.svg") no-repeat;
//         content: "";
//       }
//     }
//   }

//   .diet-card__title {
//     @include site-title(36px, 36px);
//     margin: 0;
//     margin-bottom: 24px;
//   }

//   .diet-card__intro {
//     @include site-content (16px, 24px);
//     margin-right: 316px;
//     margin-bottom: 52px;
//   }

//   .diet-card__link {
//     @include site-title(20px, 30px);
//     color: #000000;
//   }
// }

// @media (min-width: $desktop-width) {
//   .diet-card {
//     padding: 77px 62px 55px 52px;

//     &::before {
//       position: absolute;
//       top: 47px;
//       left: 52px;
//       width: 100px;
//       height: 100px;
//       background-color: $main-color;
//       border-radius: 50%;
//       content: "";
//     }

//     &--slim {
//       &::after {
//         position: absolute;
//         width: 70px;
//         height: 97px;
//         top: 41px;
//         left: 67px;
//         background: url("../img/icons/slim-icon.svg") no-repeat;
//         content: "";
//       }
//     }

//     &--pro {
//       &::after {
//         position: absolute;
//         width: 134px;
//         height: 56px;
//         top: 67px;
//         left: 33px;
//         background: url("../img/icons/pro-icon.svg") no-repeat;
//         content: "";
//       }
//     }
//   }

//   .diet-card__title {
//     margin: 0 0 73px 162px;
//   }

//   .diet-card__intro {
//     @include site-content (16px, 24px);
//     margin: 0;
//     margin-bottom: 23px;
//   }

//   .diet-card__link {
//     @include site-title(20px, 30px);
//     color: #000000;
//   }
// }
