@use "../mixins.scss" as *;

.example {
  padding: 25px 20px 40px;
  background-color: #eaeaea;
}

.example__title {
  @include site-title(36px, 40px);
  margin-bottom: 40px;
}

.example__text {
  @include site-content(14px, 18px);
  margin-bottom: 20px;
}

.example__list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0;
}

.example__weight,
.example__time {
  @include site-content(12px, 12px);
}

.example__description {
  @include site-title(24px, 24px);
}

.example__slider {
  display: flex;
  flex-wrap: wrap;
}
