@use "../variables.scss" as *;
@use "../mixins.scss" as *;

.footer {
  width: 100vw;
  background-color: $bgcolor-secondary;
}

.footer__container {
  @include site-container;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 67px;
    padding-bottom: 67px;
  }
}

.footer__academy-logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    // justify-content: space-between;
    width: 167px;
  }
}

.footer__academy-logo {
  color: #666666;

  &:hover,
  &:focus {
    color: #68b738;
    outline: none;
  }

  &:active {
    color: rgba(104, 183, 56, 0.3);
  }
}

.footer__academy-logo-letter {
  color: #444444;

  &:hover,
  &:focus {
    color: #444444;
    outline: none;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}
