@use "../variables.scss" as *;
@use "../mixins.scss" as *;

.footer {
  width: 320px;
  background-color: $bgcolor-secondary;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.footer__container {
  @include site-container;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 67px;
    padding-bottom: 67px;
  }
}

.footer__academy-logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 167px;
  }
}

.footer__academy-logo {
  background-color: #666666;
  width: 27px;
  height: 34px;
  mask: url("../img/sprite.svg#htmlacademy-logo");
  // color: #666666;

  &:hover,
  &:focus {
    background-color: $main-color;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__academy-logo-letter {
  background-color: #444444;
  width: 113px;
  height: 19px;
  mask: url("../img/sprite.svg#htmlacademy-logo-letter");

  &:hover,
  &:focus {
    color: #444444;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}
