@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

.form__cat-data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    margin-left: 71px;
    margin-right: 67px;
    margin-bottom: 74px;
    gap: 68px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1220px;
    margin: 0;
    margin-bottom: 69px;
    margin-left: 110px;
    margin-right: 110px;
    gap: 0;
  }
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 13px;
  max-width: 100%;
  padding: 0;
  padding-bottom: 22px;
  margin: 0;
  border: none;

  @media (min-width: $tablet-width) {
    gap: 18px;
    padding-bottom: 0;
  }

  &--additional {
    padding-bottom: 0;
  }

  &--owner,
  &--comment {
    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  &--owner {
    @media (min-width: $desktop-width) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &--radio {
    padding: 22px 20px 19px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

    @media (min-width: $tablet-width) {
      border: 1px solid #d9d9d9;
      padding: 25px 28px;
      gap: 13px;
    }

    @media (min-width: $desktop-width) {
      width: 569px;
    }
  }

  &--cat {
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }
}

.form__fieldset-wrapper {
  @include site-container;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 13px;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 67px;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    flex-direction: row;
    justify-content: space-between;
    gap: 78px;
  }

  &--additional {
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      justify-content: space-between;
      flex-direction: row;
      row-gap: 32px;
      padding-left: 70px;
      padding-right: 70px;
      margin-bottom: 50px;
      padding-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 245px;
      gap: 0;
      max-width: 1440px;
      padding: 0;
      padding-left: 110px;
      padding-right: 110px;
      margin-bottom: 61px;
    }
  }
}


.form__input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  gap: 13px;

  @media (min-width: $tablet-width) {
    width: 630px;
  }

  @media (min-width: $desktop-width) {
    width: 569px;
    gap: 20px;
  }
}

.form__label {
  @include site-title(16px, 18px);
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 6px 0;

  &--disabled {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    @include site-title(20px, 30px);
  }

  &--radio {
    position: relative;
    padding-left: 45px;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      top: -1px;
      left: 0;
      width: 31px;
      height: 31px;
      border: 1px solid #cdcdcd;
      border-radius: 50%;

      @media (min-width: $tablet-width) {
        left: 0;
        width: 40px;
        height: 40px;
      }
    }

    &::after {
      position: absolute;
      top: 9px;
      left: 10px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #68b738;

      @media (min-width: $tablet-width) {
        left: 12px;
        top: 11px;
        width: 18px;
        height: 18px;
      }
    }

    @media (min-width: $tablet-width) {
      padding: 5px 0 5px 60px;
    }
  }

  &--checkbox {
    position: relative;
    padding-left: 45px;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      border: 1px solid #cdcdcd;

      @media (min-width: $tablet-width) {
        width: 40px;
        height: 40px;
      }
    }

    &::after {
      position: absolute;
      top: 2px;
      left: 2px;
      width: 26px;
      height: 26px;
      background: url("../img/sprite.svg#tick-icon-mobile") no-repeat;

      @media (min-width: $tablet-width) {
        left: 7px;
        top: 7px;
        background: url("../img/sprite.svg#tick-icon-tablet") no-repeat;
      }
    }

    @media (min-width: $tablet-width) {
      min-width: 282px;
      padding-left: 60px;
    }

    @media (min-width: $desktop-width) {
      flex-grow: 1;
    }
  }

  &--email {
    position: relative;
    order: 1;

    &::after {
      position: absolute;
      content: "";
      background-color: #222222;
      width: 20px;
      height: 20px;
      mask: url("../img/sprite.svg#email-icon");
      top: 5px;
      left: 245px;

      @media (min-width: $tablet-width) {
        top: 11px;
        left: 593px;
      }

      @media (min-width: $desktop-width) {
        left: 531px;
      }
    }
  }

  &--tel {
    position: relative;
    order: 1;

    &::after {
      position: absolute;
      content: "";
      background-color: #222222;
      width: 20px;
      height: 20px;
      mask: url("../img/sprite.svg#phone-icon");
      top: 5px;
      left: 245px;

      @media (min-width: $tablet-width) {
        top: 11px;
        left: 593px;
      }

      @media (min-width: $desktop-width) {
        left: 531px;
      }
    }
  }
}

.form__input {
  font-family: inherit;
  color: #444444;
  text-transform: uppercase;
  flex-grow: 1;
  font-size: 16px;
  line-height: 18px;
  padding: 14px 10px 13px 20px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;

  &:hover {
    border-color: transparent;
    outline: 2px solid #cdcdcd;
  }

  &:focus {
    border-color: transparent;
    outline: 2px solid #444444;

    & + .form__label--radio,
    & + .form__label--checkbox {
      outline: 2px solid #444444;
    }
  }

  &--email {
    order: 2;
    padding-left: 13px;

    &:focus + .form__label--email::after {
      background-color: $main-color;
    }
  }

  &--tel {
    order: 2;
    padding-left: 15px;

    &:focus + .form__label--tel::after {
      background-color: $main-color;
    }
  }

  @media (min-width: $tablet-width) {
    @include site-title(20px, 30px);
    padding: 11px 20px;
  }
}

.form__input[type="radio"]:checked + .form__label--radio::after {
  content: "";
}

.form__input[type="checkbox"]:checked + .form__label--checkbox::after {
  content: "";
}

.form__title {
  @include site-title(24px, 26px);
  position: relative;
  margin-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    @include site-title(36px, 36px);
    margin-bottom: 76px;
    padding-left: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }

  &--header {
    @include site-title(36px, 36px);
    padding: 27px 20px 37px;

    @media (min-width: $tablet-width) {
      @include site-title(60px, 60px);
      padding: 65px 50px 54px 69px;
    }

    @media (min-width: $desktop-width) {
      padding: 77px 110px 56px;
    }
  }

  &:not(.form__title--header)::after,
  &:not(.form__title--header)::before {
    position: absolute;
    content: "";
    top: 16px;
    height: 2px;
    background-color: $main-color;

    @media (min-width: $tablet-width) {
      top: 22px;
    }
  }

  &:not(.form__title--header)::before {
    @media (min-width: $tablet-width) {
      width: 30px;
      margin-left: -70px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      margin-left: -110px;
    }
  }

  &--comment {
    &::after {
      width: 158px;
      margin-left: 22px;

      @media (min-width: $tablet-width) {
        width: 478px;
        margin-left: 38px;
      }

      @media (min-width: $desktop-width) {
        width: 1108px;
        margin-left: 40px;
      }
    }
  }

  &--additional {
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      margin-bottom: 57px;
    }

    &::after {
      width: 136px;
      margin-left: 23px;

      @media (min-width: $tablet-width) {
        width: 446px;
        margin-left: 42px;
      }

      @media (min-width: $desktop-width) {
        width: 1078px;
        margin-left: 40px;
      }
    }
  }

  &--owner {
    &::after {
      right: 0;
      width: 99px;

      @media (min-width: $tablet-width) {
        right: auto;
        width: 145px;
        margin-left: 42px;
      }

      @media (min-width: $desktop-width) {
        width: 778px;
        margin-left: 40px;
      }
    }
  }
}

.form__subtitle {
  @include site-title(14px, 18px);
  padding: 0 54px 39px 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include site-title(20px, 30px);
    padding: 0 375px 66px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 897px 66px 110px;
  }
}


.form__comment {
  @include site-title(16px, 18px);
  padding: 10px 12px 10px 15px;
  min-height: 150px;
  box-sizing: border-box;
  font-family: inherit;
  border: 1px solid #e7e7e7;
  text-transform: uppercase;
  color: #444444;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    @include site-title(20px, 30px);
    min-height: 174px;
    margin-left: 70px;
    margin-right: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-right: 110px;
  }
}

.form__footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 21px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    gap: 64px;
  }

  @media (min-width: $desktop-width) {
    width: 827px;
    padding-left: 110px;
    padding-right: 110px;
    gap: 84px;
  }
}

.form__footnote {
  @include site-content (14px, 16px);
  color: #000000;
  align-self: center;
}
