@use "../mixins.scss" as *;

.form-container {
  @include site-container;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  // padding: 0 20px;
}

.form-container__title {
  @include site-title(36px, 36px);
  margin-bottom: 37px;
}

.form-container__subtitle {
  @include site-title(14px, 18px);
  margin-bottom: 39px;
  margin-right: 64px;
}
