.header {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  font-family: inherit;
  background-color: #ffffff;
  padding: 10px 20px 17px;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 65px;
}
