@use "../variables.scss" as *;
@use "../mixins.scss" as *;

.header {
  width: 100vw;
}

.header__container {
  @include site-container;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: inherit;
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: flex-end;
    min-height: 52px;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-end;
    background-color: transparent;
    min-height: 108px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    z-index: 1;
  }
}
