@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.hero {
  width: 100vw;
  position: relative;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

.hero__container {
  @include site-container;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #ffffff;
  position: relative;

  &::after {
    display: block;
    width: 280px;
    height: 270px;
    position: absolute;
    top: 167px;
    left: 20px;
    content: "";
    background: url("../img/index-can-mobile.png") no-repeat;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    min-height: 810px;

    &::after {
      width: 709px;
      height: 609px;
      top: 263px;
      left: 0;
      background: url("../img/index-can-tablet1.png") no-repeat;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    margin: -140px 0 0;
    grid-template-columns: 1fr 1fr;
    min-height: 694px;

    &::after {
      width: 552px;
      height: 499px;
      top: 200px;
      left: 558px;
      background: url("../img/index-can.png") no-repeat;
    }
  }
}

.hero__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 27px 5px 164px;
  // background-color: rgba(104, 183, 56, 0.85);
  // background-image: url("../img/green.png"), url("../img/cat.png");
  // background-repeat: no-repeat, no-repeat;
  margin-bottom: 138px;

  @media (min-width: $tablet-width) {
    padding: 62px 35px 0 88px;
    gap: 40px;
    margin-bottom: 49px;
    color: #000000;
    background-color: #ffffff;
    // background-image: none;
  }

  @media (min-width: $desktop-width) {
    align-self: end;
    padding: 0;
    padding-left: 80px;
    margin-bottom: 52px;
  }
}

.hero__title {
  @include site-title(36px, 36px);
  text-align: center;

  @media (min-width: $tablet-width) {
    @include site-title(60px, 60px);
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: 223px;
    z-index: 1;
  }
}

.hero__subtitle {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    @include site-title(20px, 20px);
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

.hero__decor-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(104, 183, 56, 0.85);
  min-height: 302px;
  // background-color: rgba(104, 183, 56, 0.85);
  background-image: url("../img/green.png"), url("../img/cat.png");
  background-repeat: no-repeat, no-repeat;
  z-index: -1;

  @media (min-width: $tablet-width) {
    position: static;
    min-height: 0;
    background-image: none;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 720px;
    min-height: 694px;
    width: 50%;
    // grid-row: 1/3;
    // grid-column: 2/3;
    background-color: rgba(104, 183, 56, 0.85);
    background-image: url("../img/green-desktop.png"), url("../img/index-background-desktop1.png");
    background-repeat: no-repeat, no-repeat;
  }
}

// @media (min-width: $desktop-width) {
//   .hero__decor-wrapper {
//     grid-row: 1/3;
//     grid-column: 2/3;
//     background-color: rgba(104, 183, 56, 0.85);
//     background-image: url("../img/green.png"), url("../img/cat.png");
//     background-repeat: no-repeat, no-repeat;
//   }
// }

// @media (min-width: $tablet-width) {
//   .hero__container {
//     margin: 0;
//     min-height: 810px;

//     &::after {
//       width: 709px;
//       height: 609px;
//       top: 201px;
//       left: 0;
//       background: url("../img/index-can-tablet1.png") no-repeat;
//     }
//   }

//   .hero__content-wrapper {
//     padding: 62px 35px 0 88px;
//     gap: 40px;
//     margin-bottom: 49px;
//     color: #000000;
//     background-color: #ffffff;
//     background-image: none;
//   }

//   .hero__title {
//     @include site-title(60px, 60px);
//     text-align: start;
//   }

//   .hero__subtitle {
//     @include site-title(20px, 20px);
//     text-align: start;
//   }
// }

// @media (min-width: $desktop-width) {
//   .hero__container {
//     display: grid;
//     margin: -140px 0 82px;
//     grid-template-columns: 1fr 1fr;
//     min-height: 694px;

//     &::after {
//       width: 552px;
//       height: 499px;
//       top: 141px;
//       left: 558px;
//     }
//   }

//   .hero__content-wrapper {
//     align-self: end;
//     padding: 0;
//     padding-left: 190px;
//     margin-bottom: 52px;
//   }


//   .hero__title {
//     grid-row: 1/2;
//     grid-column: 1/2;
//     margin-top: 223px;
//     z-index: 1;
//   }

//   .hero__subtitle {
//     grid-row: 2/3;
//     grid-column: 1/2;
//   }
// }
