@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.hero {
  width: 320px;
  position: relative;
  padding-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 302px;
    background-color: #639e40;
    background-image: url("../img/hero-cat-mobile.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-cat-mobile@2x.jpg");
      background-size: 320px auto;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      z-index: 0;
      left: 720px;
      width: 720px;
      height: 694px;
      background-color: transparent;
      background-image: url("../img/hero-cat-desktop.jpg");
      background-position: top right;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/hero-cat-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    min-height: 694px;
    padding-bottom: 82px;
    margin-top: -108px;
  }
}

.hero__container {
  @include site-container;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #ffffff;
  position: relative;

  &::after {
    display: block;
    width: 280px;
    height: 270px;
    position: absolute;
    top: 167px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background: url("../img/index-can-mobile.png") no-repeat;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    min-height: 810px;

    &::after {
      width: 709px;
      height: 609px;
      top: 263px;
      left: 30px;
      transform: none;
      background: url("../img/index-can-tablet.png") no-repeat;
    }
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin: -140px 0 0;
    min-height: 694px;

    &::after {
      width: 552px;
      height: 499px;
      top: 141px;
      left: 558px;
      background: url("../img/index-can-desktop.png") no-repeat;
    }
  }
}

.hero__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 27px 5px 164px;
  margin-bottom: 138px;

  @media (min-width: $tablet-width) {
    padding: 62px 35px 0 88px;
    gap: 43px;
    margin-bottom: 49px;
    color: #000000;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    padding-left: 80px;
    padding-bottom: 52px;
  }
}

.hero__title {
  @include site-title(36px, 36px);
  text-align: center;

  @media (min-width: $tablet-width) {
    @include site-title(60px, 60px);
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    max-width: 414px;
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: 362px;
    z-index: 1;
  }
}

.hero__subtitle {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    @include site-title(20px, 20px);
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
