@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.invite-dealers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &--secondary {
    background-color: $bgcolor-secondary;
  }
}

.invite-dealers__wrapper {
  display: flex;
  align-items: center;
  padding: 26px 20px;
}

.invite-dealers__title {
  @include site-title(16px, 20px);
  text-transform: uppercase;
}

.invite-dealers__address {
  @include site-content (14px, 18px);
}

.invite-dealers__map-wrapper {
  position: relative;
}

.invite-dealers__map-pin {
  position: absolute;
  top: 139px;
  left: 134px;
}

@media (min-width: $tablet-width) {
  .invite-dealers__wrapper {
    padding: 56px 70px;
    gap: 296px;
  }

  .invite-dealers__title {
    @include site-title(20px, 26px);
  }

  .invite-dealers__address {
    @include site-content (16px, 20px);
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .invite-dealers {
    position: relative;
  }

  .invite-dealers__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    box-sizing: border-box;
    gap: 87px;
    padding: 56px 60px 56px 80px;
    width: 565px;
    height: 198px;
    z-index: 1;
    background-color: #ffffff;
  }
}

