@use "../variables.scss" as *;

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: #111111;

  &--letter {
    &:hover,
    &:focus {
      color: #3e3e3e;
      outline: none;
    }

    &:active {
      color: #6b6b6b;
    }
  }
}

.logo__letter {
  margin-left: 56px;
}

@media (min-width: $tablet-width) {
  .logo__letter {
    margin-left: 12px;
  }
}
