@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.main-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 46px;

  // @media (min-width: $tablet-width) {
  //   flex-direction: row;
  //   justify-content: flex-end;
  //   gap: 35px;
  // }
}

.main-nav__toggle {
  position: absolute;
  top: -30px;
  right: 0;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  z-index: 2;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  background: url("../img/icons/burger-menu.svg") no-repeat;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 320px;
    background-color: #ffffff;
  }

  .main-nav--opened .main-nav__link {
    @include site-title(20px, 20px);
    padding: 22px 0 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
    border-top: 1px solid #e6e6e6;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
  }

  .main-nav--nojs .main-nav__link {
    @include site-title(20px, 20px);
    padding: 22px 0 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
    border-top: 1px solid #e6e6e6;
  }
}

.main-nav--opened .main-nav__toggle {
  background: url("../img/icons/close.svg") no-repeat top center;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    gap: 35px;
  }

  .main-nav__link {
    @include site-title(18px, 24px);
    color: #000000;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      &--secondary {
        color: #000000;
      }
    }

    @media (min-width: $desktop-width) {
      @include site-title(20px, 30px);
      text-transform: uppercase;
      color: #ffffff;

      &--secondary {
        color: #000000;
      }
    }
  }

  .main-nav__link--current {
    padding-bottom: 10px;
    border-bottom: 2px solid $main-color;

    @media (min-width: $desktop-width) {
      padding-bottom: 8px;
      border-bottom: 2px solid #ffffff;
    }
  }

  .main-nav__link--current.main-nav__link--secondary {
    border-bottom: 2px solid #68b738;
  }
}
