@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.main-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 46px;
}

.main-nav__link {
  @include site-title(20px, 20px);
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.main-nav__toggle {
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
    justify-content: flex-end;
    gap: 35px;
    // margin-left: 90px;
  }

  .main-nav__link {
    @include site-title(18px, 24px);
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__link {
    @include site-title(20px, 30px);
    text-transform: uppercase;
    color: #ffffff;
  }
}
