@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.social {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  gap: 26px;
}

.social__link {
  background-color: #666666;

  &:hover,
  &:focus {
    background-color: $main-color;
    color: $main-color;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }

  &--vk {
    width: 28px;
    height: 17px;
    mask: url("../img/sprite.svg#vk-icon");
  }

  &--youtube {
    width: 25px;
    height: 19px;
    mask: url("../img/sprite.svg#youtube-icon");
  }

  &--telegram {
    width: 21px;
    height: 18px;
    mask: url("../img/sprite.svg#telegram-icon");
  }
}
