@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.social {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  gap: 26px;

  @media (min-width: $tablet-width) {
    margin-left: 145px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 401px;
  }
}

.social__link {
  background-color: #666666;
  width: 28px;
  height: 22px;

  &:hover,
  &:focus {
    background-color: $main-color;
    color: $main-color;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }

  &--vk {
    mask: url("../img/sprite.svg#vk-icon");
  }

  &--youtube {
    mask: url("../img/sprite.svg#youtube-icon");
  }

  &--telegram {
    mask: url("../img/sprite.svg#telegram-icon");
  }
}
