.social {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  gap: 26px;
}

.social__link {
  color: #666666;

  &:hover,
  &:focus {
    color: #68b738;
    outline: none;
  }

  &:active {
    color: rgba(104, 183, 56, 0.3);
  }
}
