@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/lato-regular.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2");
  font-display: swap;
}
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  min-height: 100%;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

:root {
  --primary-font: "Oswald", "Arial", sans-serif;
  --secondary-font: "Lato", "Arial", sans-serif;
}

.site-container {
  width: 320px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .site-container {
    width: 770px;
    padding: 0 30px;
  }
}
@media (min-width: 1400px) {
  .site-container {
    width: 1440px;
    padding: 0 110px;
  }
}

.header {
  width: 100vw;
}

.header__container {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: inherit;
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 17px;
}
@media (min-width: 768px) {
  .header__container {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1400px) {
  .header__container {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media (min-width: 768px) {
  .header__container {
    flex-direction: row;
    align-items: flex-end;
    min-height: 52px;
  }
}
@media (min-width: 1400px) {
  .header__container {
    align-items: flex-end;
    background-color: transparent;
    min-height: 108px;
  }
}

@media (min-width: 1400px) {
  .header {
    z-index: 1;
  }
}
.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: #111111;
}
.logo--letter {
  justify-content: center;
}
.logo--letter:hover, .logo--letter:focus {
  color: #3e3e3e;
  outline: none;
}
.logo--letter:active {
  color: #6b6b6b;
}

.logo__letter {
  margin-left: 56px;
}
@media (min-width: 768px) {
  .logo__letter {
    margin-left: 12px;
  }
}

.button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: #68b738;
  color: #ffffff;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  height: 40px;
}
@media (min-width: 768px) {
  .button {
    font-size: 20px;
  }
}
.button--program {
  padding: 10px 44px;
  font-size: 14px;
  line-height: 18px;
  height: 40px;
}
@media (min-width: 768px) {
  .button--program {
    font-size: 20px;
    z-index: 1;
    width: 244px;
    height: 54px;
    padding: 14px 26px;
    line-height: 20px;
    margin-left: 91px;
    margin-bottom: 526px;
  }
}
@media (min-width: 1400px) {
  .button--program {
    z-index: 0;
    grid-row: 2/3;
    grid-column: 1/2;
    width: 244px;
    height: 54px;
    padding: 14px 26px;
    line-height: 20px;
    margin-left: 80px;
    margin-bottom: 185px;
  }
}
.button--secondary {
  background-color: #f2f2f2;
  color: #444444;
}
.button--submit {
  border: none;
}
@media (min-width: 768px) {
  .button--submit {
    width: 282px;
    height: 52px;
  }
}

.main-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 46px;
}

.main-nav__toggle {
  position: absolute;
  top: -30px;
  right: 0;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  z-index: 2;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  background: url("../img/icons/burger-menu.svg") no-repeat;
}

@media (max-width: 767px) {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 320px;
    background-color: #ffffff;
  }

  .main-nav--opened .main-nav__link {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    font-weight: 400;
    padding: 22px 0 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
    border-top: 1px solid #e6e6e6;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
  }

  .main-nav--nojs .main-nav__link {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    font-weight: 400;
    padding: 22px 0 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
    border-top: 1px solid #e6e6e6;
  }
}
.main-nav--opened .main-nav__toggle {
  background: url("../img/icons/close.svg") no-repeat top center;
}

@media (min-width: 768px) {
  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    gap: 35px;
  }

  .main-nav__link {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .main-nav__link--secondary {
    color: #000000;
  }
}
@media (min-width: 768px) and (min-width: 1400px) {
  .main-nav__link {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
  }
  .main-nav__link--secondary {
    color: #000000;
  }
}
@media (min-width: 768px) {
  .main-nav__link--current {
    padding-bottom: 10px;
    border-bottom: 2px solid #68b738;
  }
}
@media (min-width: 768px) and (min-width: 1400px) {
  .main-nav__link--current {
    padding-bottom: 8px;
    border-bottom: 2px solid #ffffff;
  }
}
@media (min-width: 768px) {
  .main-nav__link--current.main-nav__link--secondary {
    border-bottom: 2px solid #68b738;
  }
}
.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100vw;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .main-container {
    border-top: none;
  }
}
.hero {
  width: 100vw;
  position: relative;
  padding-bottom: 20px;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 302px;
  background-color: #639e40;
  background-image: url("../img/cat.png");
  background-repeat: no-repeat;
  background-position: top center;
  z-index: -1;
}
@media (min-width: 768px) {
  .hero::before {
    display: none;
  }
}
@media (min-width: 1400px) {
  .hero::before {
    display: block;
    z-index: 0;
    right: 0;
    min-width: 720px;
    min-height: 694px;
    background-color: transparent;
    background-image: url("../img/index-background-desktop1.png");
    background-position: top right;
  }
}
@media (min-width: 768px) {
  .hero {
    padding-bottom: 0;
  }
}
@media (min-width: 1400px) {
  .hero {
    max-width: 1440px;
    min-height: 694px;
    padding-bottom: 82px;
    margin-top: -108px;
  }
}

.hero__container {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #ffffff;
  position: relative;
}
@media (min-width: 768px) {
  .hero__container {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1400px) {
  .hero__container {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.hero__container::after {
  display: block;
  width: 280px;
  height: 270px;
  position: absolute;
  top: 167px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  background: url("../img/index-can-mobile.png") no-repeat;
}
@media (min-width: 768px) {
  .hero__container {
    margin: 0;
    min-height: 810px;
  }
  .hero__container::after {
    width: 709px;
    height: 609px;
    top: 263px;
    left: 30px;
    transform: none;
    background: url("../img/index-can-tablet1.png") no-repeat;
  }
}
@media (min-width: 1400px) {
  .hero__container {
    position: static;
    margin: -140px 0 0;
    min-height: 694px;
  }
  .hero__container::after {
    width: 552px;
    height: 499px;
    top: 141px;
    left: 558px;
    background: url("../img/index-can.png") no-repeat;
  }
}

.hero__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 27px 5px 164px;
  margin-bottom: 138px;
}
@media (min-width: 768px) {
  .hero__content-wrapper {
    padding: 62px 35px 0 88px;
    gap: 40px;
    margin-bottom: 49px;
    color: #000000;
    background-color: #ffffff;
  }
}
@media (min-width: 1400px) {
  .hero__content-wrapper {
    margin: 0;
    padding: 0;
    padding-left: 80px;
    padding-bottom: 52px;
  }
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    font-weight: 400;
    text-align: start;
  }
}
@media (min-width: 1400px) {
  .hero__title {
    max-width: 414px;
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: 356px;
    z-index: 1;
  }
}

.hero__subtitle {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
@media (min-width: 768px) {
  .hero__subtitle {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    font-weight: 400;
    text-align: start;
  }
}
@media (min-width: 1400px) {
  .hero__subtitle {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

.nutrition-program {
  width: 100vw;
}

.nutrition-program__container {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .nutrition-program__container {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1400px) {
  .nutrition-program__container {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media (min-width: 768px) {
  .nutrition-program__container {
    gap: 30px;
    padding-bottom: 45px;
  }
}
@media (min-width: 1400px) {
  .nutrition-program__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding-bottom: 71px;
  }
}

.diet-card {
  position: relative;
  padding: 30px 33px 18px 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .diet-card {
    padding: 77px 62px 57px 52px;
  }
}
@media (min-width: 1400px) {
  .diet-card {
    padding-bottom: 55px;
  }
}
.diet-card::before {
  position: absolute;
  top: 24px;
  left: 22px;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";
}
@media (min-width: 768px) {
  .diet-card::before {
    top: 91px;
    right: 62px;
    left: auto;
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1400px) {
  .diet-card::before {
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
  }
}
.diet-card--slim::after {
  position: absolute;
  width: 36px;
  height: 50px;
  top: 21px;
  left: 29px;
  background: url("../img/icons/slim-icon.svg") no-repeat;
  content: "";
}
@media (min-width: 768px) {
  .diet-card--slim::after {
    width: 140px;
    height: 194px;
    top: 81px;
    left: auto;
    right: 92px;
    background: url("../img/icons/slim-icon-tablet.svg") no-repeat;
  }
}
@media (min-width: 1400px) {
  .diet-card--slim::after {
    width: 70px;
    height: 97px;
    top: 41px;
    left: 67px;
    background: url("../img/icons/slim-icon-desk.svg") no-repeat;
  }
}
.diet-card--pro::after {
  position: absolute;
  width: 67px;
  height: 28px;
  top: 35px;
  left: 13px;
  background: url("../img/icons/pro-icon.svg") no-repeat;
  content: "";
}
@media (min-width: 768px) {
  .diet-card--pro::after {
    width: 269px;
    height: 113px;
    top: 135px;
    right: 62px;
    left: auto;
    background: url("../img/icons/pro-icon-tablet.svg") no-repeat;
  }
}
@media (min-width: 1400px) {
  .diet-card--pro::after {
    width: 134px;
    height: 57px;
    top: 67px;
    left: 33px;
    background: url("../img/icons/pro-icon-desk.svg") no-repeat;
  }
}

.diet-card__title {
  font-size: 24px;
  line-height: 37px;
  margin: 0;
  font-weight: 400;
  margin-left: 91px;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .diet-card__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    font-weight: 400;
    margin: 0;
    margin-bottom: 24px;
  }
}
@media (min-width: 1400px) {
  .diet-card__title {
    margin: 0 0 73px 162px;
  }
}

.diet-card__intro {
  margin: 0;
  font-family: var(--secondary-font);
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 42px;
}
@media (min-width: 768px) {
  .diet-card__intro {
    margin: 0;
    font-family: var(--secondary-font);
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    margin-right: 316px;
    margin-bottom: 52px;
  }
}
@media (min-width: 1400px) {
  .diet-card__intro {
    margin: 0;
    font-family: var(--secondary-font);
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 23px;
  }
}

.diet-card__link {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .diet-card__link {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    font-weight: 400;
  }
}

.advantages {
  width: 100vw;
}

.advantages__container {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  padding-bottom: 49px;
}
@media (min-width: 768px) {
  .advantages__container {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1400px) {
  .advantages__container {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media (min-width: 768px) {
  .advantages__container {
    padding-bottom: 90px;
  }
}
@media (min-width: 1400px) {
  .advantages__container {
    padding-bottom: 69px;
  }
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  font-weight: 400;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    font-weight: 400;
    margin-bottom: 32px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 37px;
    column-gap: 0;
  }
}
@media (min-width: 1400px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.advantages__item {
  margin: 0;
  font-family: var(--secondary-font);
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  margin-left: 80px;
}
@media (min-width: 768px) {
  .advantages__item {
    margin: 0;
    font-family: var(--secondary-font);
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    padding: 151px 0 57px;
  }
}
@media (min-width: 768px) {
  .advantages__item:nth-child(even) {
    margin-left: 30px;
  }
}
@media (min-width: 1400px) {
  .advantages__item:nth-child(even) {
    margin-left: 0;
  }
}
.advantages__item::before {
  position: absolute;
  width: 60px;
  height: 60px;
  left: -80px;
  background-color: #68b738;
  content: "";
}
@media (min-width: 768px) {
  .advantages__item::before {
    width: 80px;
    height: 80px;
    top: 40px;
    left: 0;
  }
}
.advantages__item::after {
  position: absolute;
  content: "";
  top: 16px;
  left: -62px;
}
@media (min-width: 768px) {
  .advantages__item::after {
    top: 65px;
    left: 27px;
  }
}
@media (min-width: 768px) {
  .advantages__item--benefit {
    margin-right: 124px;
    background: url("../img/icons/1.svg") no-repeat center right;
  }
}
@media (min-width: 1400px) {
  .advantages__item--benefit {
    width: 230px;
    margin-right: 93px;
  }
}
.advantages__item--benefit::after {
  width: 25px;
  height: 28px;
  background: url("../img/icons/benefit-icon.svg") no-repeat;
}
@media (min-width: 768px) {
  .advantages__item--release-form {
    margin-right: 100px;
    background: url("../img/icons/2.svg") no-repeat center right;
  }
}
@media (min-width: 1400px) {
  .advantages__item--release-form {
    width: 246px;
    margin-right: 78px;
  }
}
.advantages__item--release-form::after {
  width: 26px;
  height: 29px;
  background: url("../img/icons/release-form-icon.svg") no-repeat;
}
@media (min-width: 768px) {
  .advantages__item--replace-food {
    margin-right: 107px;
    background: url("../img/icons/3.svg") no-repeat center right;
  }
}
@media (min-width: 1400px) {
  .advantages__item--replace-food {
    width: 248px;
    margin-right: 75px;
  }
}
.advantages__item--replace-food::after {
  width: 25px;
  height: 30px;
  background: url("../img/icons/replace-food-icon.svg") no-repeat;
}
@media (min-width: 768px) {
  .advantages__item--fast-result {
    margin-right: 74px;
    background: url("../img/icons/4.svg") no-repeat center right;
  }
}
@media (min-width: 1400px) {
  .advantages__item--fast-result {
    width: 250px;
    margin-right: 0;
  }
}
.advantages__item--fast-result::after {
  width: 26px;
  height: 31px;
  background: url("../img/icons/fast-result-icon.svg") no-repeat;
}

.example {
  width: 100vw;
  position: relative;
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    background-color: transparent;
  }
}

.example__container {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .example__container {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1400px) {
  .example__container {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media (min-width: 768px) {
  .example__container {
    background-color: transparent;
  }
}
@media (min-width: 1400px) {
  .example__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  font-weight: 400;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    font-weight: 400;
    margin-bottom: 63px;
  }
}
@media (min-width: 1400px) {
  .example__title {
    grid-column: 1/2;
    margin-bottom: 146px;
  }
}

.example__text {
  margin: 0;
  font-family: var(--secondary-font);
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__text {
    margin: 0;
    font-family: var(--secondary-font);
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1400px) {
  .example__text {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-right: 177px;
    margin-bottom: 69px;
  }
}

.example__list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .example__list-wrapper {
    gap: 42px;
    margin-bottom: 255px;
  }
}
@media (min-width: 1400px) {
  .example__list-wrapper {
    grid-column: 1/2;
    grid-row: 3/4;
    padding-right: 244px;
    margin-bottom: 75px;
  }
}

.example__expenses {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .example__expenses {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: flex-end;
    margin: 0;
    margin-left: auto;
  }
}
@media (min-width: 1400px) {
  .example__expenses {
    flex-direction: row;
    gap: 63px;
    margin: 0;
    margin-top: 13px;
  }
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  padding: 14px 22px 0;
  align-items: center;
  width: 124px;
  min-height: 56px;
  margin: 0;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .example__list {
    width: 162px;
    min-height: 77px;
    padding: 18px 8px 0;
    justify-content: center;
  }
}

.example__weight,
.example__time {
  margin: 0;
  font-family: var(--secondary-font);
  color: #444444;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin-bottom: -14px;
  z-index: 1;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example__weight,
.example__time {
    margin: 0;
    font-family: var(--secondary-font);
    color: #444444;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: -5px;
    background-color: #ffffff;
    padding: 0 9px;
  }
}
@media (min-width: 1400px) {
  .example__weight,
.example__time {
    background-color: #f2f2f2;
  }
}

.example__description {
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  font-weight: 400;
  margin-bottom: 7px;
  text-align: center;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .example__description {
    font-size: 30px;
    line-height: 37px;
    margin: 0;
    font-weight: 400;
    margin-bottom: 11px;
  }
}

.example__slider {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1400px) {
  .example__slider {
    grid-row: 1/4;
    grid-column: 2/3;
  }
}

@media (min-width: 768px) {
  .example__decor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 462px;
    background-color: #f2f2f2;
    z-index: -1;
  }
}

.invite-dealers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.invite-dealers--secondary {
  background-color: #f2f2f2;
}
@media (min-width: 1400px) {
  .invite-dealers {
    position: relative;
  }
}

.invite-dealers__wrapper {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .invite-dealers__wrapper {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1400px) {
  .invite-dealers__wrapper {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media (min-width: 768px) {
  .invite-dealers__wrapper {
    padding: 56px 70px;
    gap: 296px;
  }
}
@media (min-width: 1400px) {
  .invite-dealers__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    box-sizing: border-box;
    gap: 87px;
    padding: 56px 60px 56px 80px;
    width: 565px;
    height: 198px;
    z-index: 1;
    background-color: #ffffff;
  }
}

.invite-dealers__title {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .invite-dealers__title {
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    font-weight: 400;
  }
}

.invite-dealers__address {
  margin: 0;
  font-family: var(--secondary-font);
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .invite-dealers__address {
    margin: 0;
    font-family: var(--secondary-font);
    color: #444444;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

.invite-dealers__map-wrapper {
  position: relative;
  min-height: 362px;
  background: url("../img/map.png") no-repeat;
}
@media (min-width: 768px) {
  .invite-dealers__map-wrapper {
    background: url("../img/map-tablet.png") no-repeat;
  }
}
@media (min-width: 1400px) {
  .invite-dealers__map-wrapper {
    background: url("../img/map-desktop.png") no-repeat;
  }
}

.invite-dealers__map-wrapper iframe {
  border: none;
  display: block;
  width: 100vw;
  min-height: 362px;
}
@media (min-width: 768px) {
  .invite-dealers__map-wrapper iframe {
    min-height: 400px;
  }
}

.footer {
  width: 100vw;
  background-color: #f2f2f2;
}

.footer__container {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .footer__container {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1400px) {
  .footer__container {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
@media (min-width: 1400px) {
  .footer__container {
    padding-top: 67px;
    padding-bottom: 67px;
  }
}

.footer__academy-logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__academy-logo-wrapper {
    width: 167px;
  }
}

.footer__academy-logo {
  color: #666666;
}
.footer__academy-logo:hover, .footer__academy-logo:focus {
  color: #68b738;
  outline: none;
}
.footer__academy-logo:active {
  color: rgba(104, 183, 56, 0.3);
}

.footer__academy-logo-letter {
  color: #444444;
}
.footer__academy-logo-letter:hover, .footer__academy-logo-letter:focus {
  color: #444444;
  outline: none;
}
.footer__academy-logo-letter:active {
  color: rgba(68, 68, 68, 0.3);
}

.social {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  gap: 26px;
}

.social__link {
  color: #666666;
}
.social__link:hover, .social__link:focus {
  color: #68b738;
  outline: none;
}
.social__link:active {
  color: rgba(104, 183, 56, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 19px;
  padding: 0 20px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .catalog {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1400px) {
  .catalog {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media (min-width: 768px) {
  .catalog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 141px;
  }
}
@media (min-width: 1400px) {
  .catalog {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 143px;
    column-gap: 80px;
  }
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  font-weight: 400;
  margin-top: 27px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .catalog__title {
    grid-column: 1/3;
    margin-top: 65px;
    margin-bottom: 22px;
  }
}
@media (min-width: 1400px) {
  .catalog__title {
    grid-column: 1/5;
    margin-top: 78px;
    margin-bottom: 22px;
  }
}

.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  padding-top: 11px;
  padding-bottom: 14px;
}
@media (min-width: 768px) {
  .product-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    width: 324px;
    min-height: 430px;
    padding: 0 36px 39px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 768px) and (min-width: 1400px) {
  .product-card {
    width: 245px;
    padding: 0 35px 40px 40px;
  }
}
.product-card--show-more {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  row-gap: 0;
  padding-top: 70px;
  background-color: inherit;
}
.product-card--show-more .product-card__title {
  text-transform: uppercase;
  padding-right: 0;
}
@media (min-width: 768px) {
  .product-card--show-more .product-card__title {
    max-width: 134px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 23px;
    padding: 0;
  }
}
.product-card--show-more .product-card__subtitle {
  margin: 0;
  font-family: var(--secondary-font);
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .product-card--show-more .product-card__subtitle {
    margin: 0;
    font-family: var(--secondary-font);
    color: #444444;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    max-width: 165px;
    margin-bottom: 87px;
  }
}
.product-card--show-more .product-card__button {
  align-self: stretch;
}
@media (min-width: 768px) {
  .product-card--show-more {
    justify-content: flex-end;
    padding-top: 161px;
    margin-top: 0;
    border: 2px solid #f2f2f2;
  }
}
.product-card--show-more::before {
  position: absolute;
  top: 17px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  content: "";
  background: url("../img/icons/plus-icon.svg") no-repeat;
}
@media (min-width: 768px) {
  .product-card--show-more::before {
    width: 60px;
    height: 60px;
    top: 52px;
    left: 50%;
    transform: translateX(-50%);
    background: url("../img/icons/plus-icon-tablet.svg") no-repeat;
  }
}

.product-card__image {
  justify-self: center;
  grid-column: 1/2;
  grid-row: 1/3;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .product-card__image {
    margin-bottom: 34px;
  }
}

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  font-weight: 400;
  color: #222222;
  grid-column: 2/3;
  grid-row: 1/2;
  text-transform: uppercase;
  padding-right: 64px;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .product-card__title {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    font-weight: 400;
    max-width: 165px;
    padding-right: 0;
    margin-bottom: 21px;
    text-align: center;
  }
}
@media (min-width: 1400px) {
  .product-card__title {
    font-size: 20px;
    line-height: 21px;
    margin: 0;
    font-weight: 400;
  }
}

.product-card__description {
  margin: 0;
  font-family: var(--secondary-font);
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-bottom: 13px;
  box-sizing: border-box;
}
.product-card__description th {
  font-weight: 400;
  text-align: left;
}
.product-card__description td {
  text-align: right;
}
@media (min-width: 768px) {
  .product-card__description {
    margin: 0;
    font-family: var(--secondary-font);
    color: #444444;
    font-size: 16px;
    line-height: 16px;
    width: 250px;
    margin-bottom: 33px;
  }
  .product-card__description tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cdcdcd;
    padding-top: 7px;
    padding-bottom: 9px;
  }
}
@media (min-width: 1400px) {
  .product-card__description {
    width: 169px;
  }
}

.product-card__button {
  grid-column: 1/3;
  grid-row: 3/4;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .product-card__button {
    align-self: stretch;
  }
}

.catalog-additional {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 768px) {
  .catalog-additional {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1400px) {
  .catalog-additional {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media (min-width: 768px) {
  .catalog-additional {
    gap: 0;
  }
}
@media (min-width: 1400px) {
  .catalog-additional {
    display: grid;
    grid-template-columns: 896px 245px;
    column-gap: 79px;
    padding-bottom: 85px;
  }
}

.catalog-additional__title {
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  font-weight: 400;
  margin-bottom: 36px;
}
@media (min-width: 768px) {
  .catalog-additional__title {
    margin-left: 36px;
    margin-bottom: 80px;
  }
}
@media (min-width: 1400px) {
  .catalog-additional__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    font-weight: 400;
    grid-column: 1/3;
    margin-bottom: 80px;
  }
}

.product-card-additional {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  row-gap: 14px;
  padding-top: 13px;
  padding-bottom: 19px;
  background-color: inherit;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  border-left: none;
  border-right: none;
}
@media (min-width: 768px) {
  .product-card-additional {
    display: grid;
    padding: 26px 37px 27px;
    align-items: baseline;
    row-gap: 0;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #cdcdcd;
  }
  .product-card-additional:not(:first-of-type) {
    border-top: none;
  }
}
@media (min-width: 1400px) {
  .product-card-additional {
    width: 895px;
    grid-column: 1/2;
    grid-template-columns: 325px 1fr 244px;
    padding: 15px 0 16px;
    border-left: none;
    border-right: none;
  }
}

.product-card-additional__title {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .product-card-additional__title {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    font-weight: 400;
    grid-column: 1/2;
    margin-bottom: 25px;
  }
}
@media (min-width: 1400px) {
  .product-card-additional__title {
    margin-bottom: 0;
  }
}

.product-card-additional__description {
  margin: 0;
  font-family: var(--secondary-font);
  color: #444444;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 0;
}
.product-card-additional__description tr {
  text-align: right;
  vertical-align: middle;
}
@media (min-width: 1400px) {
  .product-card-additional__description tr {
    text-align: left;
  }
}
.product-card-additional__description th {
  text-align: left;
  font-weight: 400;
}
@media (min-width: 768px) {
  .product-card-additional__description th {
    text-align: right;
  }
}
@media (min-width: 1400px) {
  .product-card-additional__description th {
    text-align: left;
  }
}
.product-card-additional__description td {
  width: 91px;
}
@media (min-width: 768px) {
  .product-card-additional__description {
    margin: 0;
    font-family: var(--secondary-font);
    color: #444444;
    font-size: 16px;
    line-height: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

@media (min-width: 768px) {
  .product-card-additional__button {
    grid-column: 1/3;
  }
}
@media (min-width: 1400px) {
  .product-card-additional__button {
    grid-column: 3/4;
  }
}

.promotion {
  padding-top: 35px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .promotion {
    padding-top: 69px;
    padding-bottom: 76px;
  }
}
@media (min-width: 1400px) {
  .promotion {
    grid-column: 2/3;
    grid-row: 2/6;
    padding: 0;
  }
}

.promotion__description {
  margin: 0;
  font-family: var(--secondary-font);
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  padding: 187px 59px 43px;
  text-align: center;
  color: #ffffff;
  background-image: url("../img/cat-carrier.png");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .promotion__description {
    padding: 71px 124px 69px 422px;
    text-align: left;
    background-image: url("../img/cat-carrier-tablet.png");
  }
}
@media (min-width: 1400px) {
  .promotion__description {
    background-image: url("../img/cat-carrier-desktop.png");
    padding: 184px 43px 42px 41px;
    box-sizing: border-box;
    text-align: center;
    min-width: 243px;
    min-height: 289px;
  }
}
.promotion__description::before {
  position: absolute;
  top: 59px;
  left: 101px;
  content: "";
  width: 78px;
  height: 80px;
  background: url("../img/icons/gift-icon.svg") no-repeat;
}
@media (min-width: 768px) {
  .promotion__description::before {
    top: 57px;
    left: 77px;
  }
}
@media (min-width: 1400px) {
  .promotion__description::before {
    top: 56px;
    left: 84px;
  }
}

.form-container__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  font-weight: 400;
  padding: 27px 20px 37px;
}

.form-container__subtitle {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  font-weight: 400;
  padding: 0 74px 39px 20px;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 32px;
}
@media (min-width: 768px) {
  .form {
    padding-bottom: 72px;
  }
}
@media (min-width: 1400px) {
  .form {
    padding-bottom: 82px;
  }
}

.form__cat-data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .form__cat-data {
    margin-left: 70px;
    margin-right: 67px;
    margin-bottom: 71px;
    gap: 72px;
  }
}
@media (min-width: 1400px) {
  .form__cat-data {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 69px;
    margin-left: 110px;
    margin-right: 110px;
  }
}

.form__fieldset {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 13px;
  max-width: 100%;
  padding-top: 0;
  padding-bottom: 24px;
  margin: 0;
  border: none;
}
@media (min-width: 768px) {
  .form__fieldset {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1400px) {
  .form__fieldset {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media (min-width: 768px) {
  .form__fieldset {
    gap: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1400px) {
  .form__fieldset {
    padding-bottom: 0;
  }
}
.form__fieldset--additional {
  margin-bottom: 34px;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .form__fieldset--additional {
    justify-content: space-between;
    flex-direction: row;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 54px;
    row-gap: 32px;
  }
}
@media (min-width: 1400px) {
  .form__fieldset--additional {
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 61px;
  }
}
@media (min-width: 768px) {
  .form__fieldset--owner, .form__fieldset--comment {
    padding-left: 70px;
    padding-right: 67px;
    margin-bottom: 65px;
  }
}
@media (min-width: 1400px) {
  .form__fieldset--owner, .form__fieldset--comment {
    padding-left: 110px;
    padding-right: 110px;
  }
}
.form__fieldset--owner {
  flex-direction: row;
  justify-content: space-between;
}
.form__fieldset--radio {
  padding-top: 22px;
  padding-bottom: 19px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .form__fieldset--radio {
    border: 1px solid #d9d9d9;
    padding: 25px 28px;
    gap: 13px;
  }
}
@media (min-width: 1400px) {
  .form__fieldset--radio {
    width: 569px;
  }
}
.form__input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 768px) {
  .form__input-wrapper {
    width: 630px;
  }
}
@media (min-width: 1400px) {
  .form__input-wrapper {
    width: 569px;
  }
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 6px 0;
}
@media (min-width: 768px) {
  .form__label {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    font-weight: 400;
  }
}
.form__label--radio {
  position: relative;
  margin-left: 45px;
  cursor: pointer;
}
.form__label--radio::before {
  position: absolute;
  content: "";
  top: 0;
  left: -45px;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .form__label--radio::before {
    left: -60px;
    width: 40px;
    height: 40px;
  }
}
.form__label--radio::after {
  position: absolute;
  top: 10px;
  left: -35px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .form__label--radio::after {
    left: -48px;
    top: 12px;
    width: 18px;
    height: 18px;
  }
}
@media (min-width: 768px) {
  .form__label--radio {
    margin-left: 60px;
    padding: 5px 0;
  }
}
.form__label--checkbox {
  position: relative;
  margin-left: 45px;
  cursor: pointer;
}
.form__label--checkbox::before {
  position: absolute;
  content: "";
  top: 0;
  left: -45px;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .form__label--checkbox::before {
    width: 40px;
    height: 40px;
    left: -60px;
  }
}
.form__label--checkbox::after {
  position: absolute;
  top: 2px;
  left: -43px;
  width: 26px;
  height: 26px;
  background: url("../img/icons/tick-icon.svg") no-repeat;
}
@media (min-width: 768px) {
  .form__label--checkbox::after {
    left: -53px;
    top: 6px;
    background: url("../img/icons/tick-icon-tablet.svg") no-repeat;
  }
}
@media (min-width: 768px) {
  .form__label--checkbox {
    width: 37%;
    margin-left: 60px;
  }
}
@media (min-width: 1400px) {
  .form__label--checkbox {
    width: 230px;
  }
}

.form__input {
  font-family: inherit;
  color: #444444;
  text-transform: uppercase;
  flex-grow: 1;
  font-size: 16px;
  line-height: 18px;
  padding: 14px 15px;
  border: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .form__input {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    font-weight: 400;
    padding: 11px 20px;
  }
}

.form__input[type=radio]:checked + .form__label--radio::after {
  content: "";
}

.form__input[type=checkbox]:checked + .form__label--checkbox::after {
  content: "";
}

.form__title {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  font-weight: 400;
  padding-right: 93px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .form__title {
    margin-bottom: 76px;
  }
}
.form__title--header {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  font-weight: 400;
  padding: 27px 20px 37px;
}
@media (min-width: 768px) {
  .form__title--header {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    font-weight: 400;
    padding: 65px 20px 54px 69px;
  }
}
@media (min-width: 1400px) {
  .form__title--header {
    padding: 77px 110px 56px;
  }
}
.form__title--additional {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .form__title--additional {
    margin-bottom: 57px;
  }
}

.form__subtitle {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  font-weight: 400;
  padding: 0 74px 39px 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__subtitle {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    font-weight: 400;
    padding: 0 375px 67px 70px;
  }
}
@media (min-width: 1400px) {
  .form__subtitle {
    padding: 0 897px 66px 110px;
  }
}

.form__comment {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  font-weight: 400;
  padding: 10px 12px 10px 15px;
  min-height: 150px;
  font-family: inherit;
  border: 1px solid #e7e7e7;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .form__comment {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    font-weight: 400;
  }
}

.form__footer {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 21px;
}
@media (min-width: 768px) {
  .form__footer {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1400px) {
  .form__footer {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media (min-width: 768px) {
  .form__footer {
    flex-direction: row;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    gap: 64px;
  }
}
@media (min-width: 1400px) {
  .form__footer {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.form__footnote {
  margin: 0;
  font-family: var(--secondary-font);
  color: #444444;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  align-self: center;
}
/*# sourceMappingURL=style.css.map */