@use "variables.scss" as *;

@mixin site-container {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

@mixin site-title($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
  margin: 0;
  font-weight: 400;
}

@mixin site-content ($font-size, $line-height) {
  margin: 0;
  font-family: var(--secondary-font);
  color: #444444;
  font-size: $font-size;
  line-height: $line-height;
}
